<div class="summary" *ngIf="!loading">
    <div class="summary-header">
        <p>Entradas e saidas</p>
        <div class="summary-utility-btns">
            <button type="menu" class="minify-summary" (click)="hideSummary()">-</button>
            <button type="menu" class="summary-question-mark">?</button>
        </div>
    </div>
    <div [ngClass]="showSummary === true ? 'summary-body':'summary-body-hidden'">
        <div class="include-checkbox">
            <input type="checkbox" id="include-checkbox" checked (change)="hidePreviousBalance()">
            <label for="include">Incluir saldo anterior</label>
        </div>
        <div [ngClass]="showPreviousBalance === true ? 'previous-balance':'hidden-previous-balance'">
            <span>Saldo anterior</span>
            <app-monetary-value [currency]="summary.currency" [value]="summary.previousBalance"></app-monetary-value>
        </div> 
        <div class="income">
            <span>Entradas</span>
            <app-monetary-value [currency]="summary.currency" [value]="summary.income"></app-monetary-value>
        </div>
        <div class="expenses">
            <span>Saidas</span>
            <app-monetary-value [currency]="summary.currency" [value]="summary.expenses"></app-monetary-value>
        </div>
        <hr>
        <div class="total-balance">
            <app-monetary-value [currency]="summary.currency" [value]="totalBalance"></app-monetary-value>
        </div>
    </div>
</div>